@model PagedList.IPagedList<HospitalBLL.Models.SessionBLL>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<link href="~/Content/PatientCard.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "PatientCard";
}

<h2>
    История болезней пациента: @Model[0].Complaint.ClientProfile.Surname
    @Model[0].Complaint.ClientProfile.Name
    @Model[0].Complaint.ClientProfile.SecondName
</h2>


<div class="containerCard">


    @foreach (var item in Model)
    {
        <form action="/action_page.php" method="post">
            <div class="imgcontainer">
                <img src="@Url.Content(item.Complaint.Speciality.PathPh)" alt="Speciality" class="spImage">
            </div>

            <div class="container">
                <label for="uname"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="uname" required>

                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" required>

                <button type="submit">Login</button>
                <label>
                    <input type="checkbox" checked="checked" name="remember"> Remember me
                </label>
            </div>

            <div class="container" style="background-color:#f1f1f1">
                <button type="button" class="cancelbtn">Cancel</button>
                <span class="psw">Forgot <a href="#">password?</a></span>
            </div>
        </form>
    }

    <br />
    Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("PatientCard",
        new RouteValueDictionary {
        {  "idPatient", Model[0].Complaint.ClientProfile.IdClientProfile }
           , {"page", page }
    }))


</div>