@model Hospital.Models.ComplaintRegistrationService

@{
    ViewBag.Title = "Регистрация жалобы";
}
@section Style{
    <link rel="stylesheet" href="~/Content/complaint.css">
    <link rel="stylesheet" href="~/Content/bootstrap.css">
    <link rel="stylesheet" href="~/fonts/Montserrat-Black.ttf">



}

<div class="row cont" onload="Load()">
    <div class="imgBack col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="form bottom-left col-lg-4 col-md-5 col-sm-7 col-sm-offset-1 col-xs-10 col-xs-offset-1">
            <h2 class="h2new">Оформление жалобы</h2>
            <div class="step step1">
                <img src="~/Images/NumbOne.png" style="height:60px" />
                <span class="compRegFont">
                    Выберете пациента
                </span>
                <button type="button" class="btn btn-primary"
                        data-toggle="modal" data-target="#ModalPatients">
                    <span>Выбрать</span>
                </button>
            </div>
            <div class="step step2">

                <img src="~/Images/NumberTwo.png" style="height:60px" />
                <span class="compRegFont">
                    Выберете специализацию
                </span>

                @Html.DropDownList("IdSpeciality", ViewBag.Specialities as SelectList
               , new { @class = "select-css", id = "drop" })


            </div>

            <div class="step step3">

                <img src="~/Images/NumberTree.png" style="height:60px" />
                <span class="compRegFont">Выберете доктора</span>
                <button type="button" class="btn btn-primary compRegFont" data-toggle="modal" data-target="#DoctorsModal">Выбрать сейчас</button>
            </div>

            <div class="step step4">
                <img src="~/Images/NumberFour.png" style="height:60px" />
                <span class="compRegFont">Проверте данные</span>
                <br />
                <div id="patient">
                    @if (Model.UserBLL.IdClientProfile != "")
                    {
                        <div class="chip">
                            <img src="~/Images/h1.png" alt="Person" width="96" height="96" onclick="ChangePh(this)">
                            @Model.UserBLL.Surname  @Model.UserBLL.Name
                            <span class="closebtn" onclick="this.parentElement.style.display='none'">&times;</span>
                        </div>
                    }
                    else
                    {
                        <div class="chip" id="patientField" style="display:none;">
                            <img class="chPhoto" src="~/Images/h1.png" alt="Person" width="96" height="96" onclick="ChangePh(this)">
                            <span id="TextPatient"></span>
                            <span class="closebtn" onclick="ClosebtnPatientClick(this)">&times;</span>
                        </div>
                    }

                </div>
                <div id="speciality">
                    <div class="chip" id="specField" style="display:none;">
                        <img id="SpPhoto" class="chPhoto" src="~/Images/permanent.png" alt="Person" width="96" height="96">
                        <span id="dropText"></span>
                        <span class="closebtn" onclick="ClosebtnClick(this)">&times;</span>
                    </div>

                    @*<div class="chip">
                            <img src="~/Images/permanent.png" alt="speciality" width="96" height="96">
                            <span id="dropText">John Doe</span>
                            <span class="closebtn" onclick="this.parentElement.style.display='none'">&times;</span>
                        </div>*@
                </div>
                <div id="doc">
                    <div class="chip" id="DoctorField" style="display:none;">
                        <img class="chPhoto" src="~/Images/d1.png" alt="doctor" width="96" height="96">
                        <span id="DoctorText"></span>
                        <span class="closebtn" onclick="ClosebtnDocClick(this)">&times;</span>
                    </div>
                </div>

            </div>
            @using (Html.BeginForm("PatientComplaintRegistration", "Patient", FormMethod.Post))
            {
                <input id="IdSpeciality" type="hidden" name="IdSpeciality" value="" />
                <input id="IdPatient" type="hidden" name="IdPatient" value="" />
                <input id="IdDoctor" type="hidden" name="IdDoctor" value="" />

                <button type="submit" class="btn btn-primary">Оформить</button>
            }
        </div>

    </div>

</div>

<div class="modal fade" id="ModalPatients">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <div class="modal-title">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <br />
                    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">
                </div>

            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <table class="table table-hover" id="myTable">
                    <thead class="thead-ligth">
                        <tr>
                            <th>

                            </th>

                            <th>

                            </th>

                            <th>

                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Users)
                        {
                            if (item.NeedDoctor || item.IsBeingTreated)
                            {
                                <tr class="warn">
                                    <td>
                                        <b>@Html.DisplayFor(modelItem => item.Surname)</b>
                                        @Html.DisplayFor(modelItem => item.Name)
                                        @Html.DisplayFor(modelItem => item.SecondName)

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Birth)
                                    </td>

                                    <td>
                                        Пациент уже находиться на лечении
                                    </td>

                                </tr>
                            }
                            else
                            {
                                <tr class="success">
                                    <td>
                                        <b>@Html.DisplayFor(modelItem => item.Surname)</b>

                                        @Html.DisplayFor(modelItem => item.Name)

                                        @Html.DisplayFor(modelItem => item.SecondName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Birth)
                                    </td>

                                    <td>
                                        <button type="button" value="@item.IdClientProfile" class="choicePatient btn btn-primary"
                                                name="@item.Surname @item.Name" onclick='PickPatient(this)' data-dismiss="modal">
                                            Pick
                                        </button>

                                    </td>

                                </tr>
                            }

                        }
                    </tbody>
                </table>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>


<!-- The Modal -->
<div class="modal" id="DoctorsModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Modal Heading</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <table class="table table-hover" id="myTable">
                    <thead class="thead-ligth">
                        <tr>
                            <th>

                            </th>

                            <th>

                            </th>

                            <th>

                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Doctors)
                        {
                            // if (item.Speciality.IdSpeciality==ViewBag.IdSpeciality)
                            //  {


                            <tr>
                                <td>
                                    <b>@Html.DisplayFor(modelItem => item.ClientProfile.Surname)</b>
                                    @Html.DisplayFor(modelItem => item.ClientProfile.Name)
                                    @Html.DisplayFor(modelItem => item.ClientProfile.SecondName)

                                <td>
                                    @Html.DisplayFor(modelItem => item.Speciality.NameSpeciality)
                                </td>

                                <td>
                                    <button type="button" value="@item.ClientProfile.IdClientProfile" class="choiceDoctor btn btn-primary"
                                            name="@item.ClientProfile.Surname @item.ClientProfile.Name" onclick='PickDoctor(this)' data-dismiss="modal">
                                        Pick
                                    </button>
                                </td>
                            </tr>
                            //  }
                        }
                    </tbody>
                </table>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

@if (ViewBag.SuccessRegistration == true)
{
    <script>
        Swal.fire({
            position: 'top-end',
            type: 'success',
            title: 'Жалоба успешно оформлена',
            showConfirmButton: false,
            timer: 1500
        })
    </script>
}

@if (ViewBag.SpecialityError == true)
{
    <script>
        Swal.fire({
            type: 'error',
            title: 'Ошибка',
            text: 'Необходимо выбрать специализцию'

        })
    </script>
}


@if (ViewBag.PatientError == true)
{
    <script>
        Swal.fire({
            type: 'error',
            title: 'Ошибка',
            text: 'Необходимо выбрать пациента'
        })
    </script>
}

<script>
    var Select = document.getElementById("drop");

    function changeOption() {

        // var selectPlace = document.getElementById("speciality");
        var selectedOption = Select.options[Select.selectedIndex];
        $('#specField').css('display', 'inline-block');
        $('#dropText').text(selectedOption.text);
        $('#IdSpeciality').attr('value', selectedOption.value);
        //  $('#SpPhoto').attr('src', '"/Images/'selectedOption.value);
    }

    Select.addEventListener("change", changeOption);


    function PickPatient(obj) {
        var value = obj.value;
        //var value = e.target.attr('value');
        $('#IdPatient').attr('value', value);
        $('#patientField').css('display', 'inline-block');
        var name = obj.name;
        $('#TextPatient').text(name);
    }

    function PickDoctor(obj) {
        var value = obj.value;
        //var value = e.target.attr('value');
        $('#IdDoctor').attr('value', value);
        $('#DoctorField').css('display', 'inline-block');
        var name = obj.name;
        $('#DoctorText').text(name);


        //alert($('#IdSpeciality').attr('value'));
        //alert($('#IdPatient').attr('value'));
        //alert($('#IdDoctor').attr('value'));
    }

    //$('.choicePatient').addEventListener('click',PickPatient);

    function myFunction() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

    function ClosebtnClick(obj) {
        obj.parentElement.style.display = 'none';
        $('#IdSpeciality').attr('value', '0');
    }

    function ClosebtnPatientClick(obj) {
        obj.parentElement.style.display = 'none';
        $('#IdPatient').attr('value', "");

    }

    function ClosebtnDocClick(obj) {
        obj.parentElement.style.display = 'none';
        $('#IdDoctor').attr('value', "");

    }


    function ChangePh(obj) {
        let n = Math.floor((Math.random() * 12) + 1);
        obj.src = "/Images/h" + n + ".png";
        //let max = obj.src.length
        //alert(max);

        //let min = obj.src.length - 6;
        //alert(min);

        //var s = obj.src.substring(0, min);
        //alert(s + "h" + n + ".png");
        //obj.src = s + n + ".png";

    }


</script>