@model Hospital.Models.DoctorRegisterModel

@{
    ViewBag.Title = "DoctorRegister";
}

@section Style{
    <link rel="stylesheet" href="~/Content/loginValidationForm.css">
}

<div class="validation">

    @using (Html.BeginForm("DoctorRegister", "Account", FormMethod.Post))
    {
        <div class="imgcontainer">
            <img src="~/Images/ico_medic.png" alt="Avatar" class="avatar" width="50%">
        </div>

        <div class="container">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @Html.LabelFor(m => m.Name, "Имя")
            @Html.TextBoxFor(m => m.Name, new { placeholder = "Введите имя пациента", id = "Name" })

            @Html.LabelFor(m => m.Surname, "Фамилия")
            @Html.TextBoxFor(m => m.Surname, new { placeholder = "Введите фамилию пациента", id = "Surname" })

            @Html.LabelFor(m => m.SecondName, "Отчество")
            @Html.TextBoxFor(m => m.SecondName, new { placeholder = "Введите отчество пациента", id = "SecondName" })

            @Html.LabelFor(m => m.Password, "Пароль")
            @Html.TextBoxFor(m => m.Password, new { placeholder = "Придумайте пароль", id = "Password" })

            @Html.LabelFor(m => m.ConfirmPassword, "Повтовторный ввод пароля")
            @Html.TextBoxFor(m => m.ConfirmPassword, new { placeholder = "Повторите введение пароля", id = "ConfirmPassword" })
           
            @Html.LabelFor(m => m.IdSpeciality, "Специальность")
            @Html.DropDownListFor(model => model.IdSpeciality, ViewBag.Specialities as SelectList)

            @Html.LabelFor(m => m.Birth, "Дата рождения")
            @Html.TextBoxFor(m => m.Birth, new { id = "Name", type = "date" })
            <br />
            @Html.LabelFor(m => m.Address, "Адрес")
            @Html.TextBoxFor(m => m.Address, new { placeholder = "Введите адрес пациента", id = "Address" })

            @Html.LabelFor(m => m.Email, "Email")
            @Html.TextBoxFor(m => m.Email, new { placeholder = "Введите email пациента", id = "Email", type = "email" })
            <button type="submit">Login</button>
        </div>
    }


</div>


