@model IEnumerable<HospitalBLL.Models.PatientBLL>
@using Microsoft.AspNet.Identity


@{
    ViewBag.Title = "DoctorsPatients";
}

@section Style{
    <link rel="stylesheet" href="~/Content/bootstrap.css">
    <link rel="stylesheet" href="~/Content/sweetStyle.css">
    <link rel="stylesheet" href="~/Content/select.css">
}

<h2>DoctorsPatients</h2>
<div class="container-fluid row" style="margin-left:20px">

    <table class="table table-hover col-lg-11 col-md-11 col-sm-12 col-xs-12" id="myTable">
        <thead class="thead-ligth">
            <tr>
                <th>
                    ФИО
                </th>
                <th>
                    Диагноз
                </th>
                <th>
                    Лекарства
                </th>
                <th>
                    Процедури
                </th>
                <th>
                    Операции
                </th>
                <th>
                    Больничная карта
                </th>
                <th>
                    Выписка
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                <tr class="table-warning">
                    <td>
                        <span>
                            @Html.DisplayFor(m => item.ClientProfile.Surname)
                            @Html.DisplayFor(m => item.ClientProfile.Name)
                            @Html.DisplayFor(m => item.ClientProfile.SecondName)
                        </span>
                    </td>
                    <td>
                        @if (item.Diagnosis != null)
                        {
                            @Html.DisplayFor(m => item.Diagnosis.DiagnosisName)
                        }
                        else
                        {

                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#diagnosisModal_@item.IdComplaint" onclick="diagModalOpen()">
                                Определить диагноз
                            </button>



                            <!-- The Modal -->
                            <div class="modal fade" id="diagnosisModal_@item.IdComplaint">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">

                                        <!-- Modal Header -->
                                        <div class="modal-header">
                                            <h4 class="modal-title">Modal Heading</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>

                                        <!-- Modal body -->
                                        <div class="modal-body" style="min-height:400px;">
                                            <img class="rightImg" src="~/Images/doctor2.png" style="float:left;" height="350" width="200" />
                                            <ul style="display:flex; list-style-image:none; ">
                                                <li click="" id="а">А</li>
                                                <li click="" id="б">Б</li>
                                                <li click="" id="в">В</li>
                                                <li click="" id="г">Г</li>
                                                <li click="" id="д">Д</li>
                                                <li click="" id="е">Е</li>
                                                <li click="" id="ё">Ё</li>
                                                <li click="" id="ж">Ж</li>
                                                <li click="" id="з">З</li>
                                                <li click="" id="и">И</li>
                                                <li click="" id="й">Й</li>
                                                <li click="" id="к">К</li>
                                                <li click="" id="л">Л</li>
                                                <li click="" id="м">М</li>
                                                <li click="" id="н">Н</li>
                                                <li click="" id="о">О</li>
                                                <li click="" id="п">П</li>
                                                <li click="" id="р">Р</li>
                                                <li click="" id="с">С</li>
                                                <li click="" id="т">Т</li>
                                                <li click="" id="у">У</li>
                                                <li click="" id="ф">Ф</li>
                                                <li click="" id="х">Х</li>
                                                <li click="" id="ц">Ц</li>
                                                <li click="" id="ч">Ч</li>
                                                <li click="" id="ш">Ш</li>
                                                <li click="" id="щ">Щ</li>
                                                <li click="" id="ю">Ю</li>
                                                <li click="" id="я">Я</li>
                                            </ul>
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>Диагноз</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var i in ViewBag.Diagnos)
                                                    {
                                                        using (Html.BeginForm("MatchDiagnosis", "Treatment", FormMethod.Post))
                                                        {

                                                            <tr class="diagnosisTableEl" >
                                                                <td>
                                                                    @i.DiagnosisName
                                                                    <input type="hidden" name="idDiagnosis" value="@i.IdDiagnosis" />
                                                                    <input type="hidden" name="idComplaint" value="@item.IdComplaint" />
                                                                </td>

                                                                <td><button class="btn btn-primary" type="submit">Выбрать</button></td>
                                                            </tr>
                                                        }
                                                    }

                                                </tbody>
                                            </table>

                                        </div>

                                        <!-- Modal footer -->
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        }

                    </td>


                    <td>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#DrugsModal_@item.IdComplaint">
                            Просмотр
                        </button>

                        <!-- The Modal -->
                        <div class="modal fade" id="DrugsModal_@item.IdComplaint">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">

                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <h4 class="modal-title">Modal Heading</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>

                                    <!-- Modal body -->
                                    <div class="modal-body" style="min-height:400px;">
                                        <img class="rightImg" src="~/Images/doctor5.png" style="float:right;" height="350" width="200" />
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Лекарство</th>
                                                    <th>Выдано</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var i in item.DrugsPrescriptions)
                                                {
                                                    using (Html.BeginForm("CompleteDrugPrescription", "Treatment", FormMethod.Post))
                                                    {
                                                        <tr>
                                                            <td>@i.drugs.DrugsName</td>
                                                            @if (i.Complited != null)
                                                            {
                                                                <td>@i.Complited</td>
                                                            }
                                                            else
                                                            {
                                                                <td>
                                                                    <input type="hidden" name="idDrugs" value="@i.drugs.IdDrugs" />
                                                                    <input type="hidden" name="idComplaint" value="@item.IdComplaint" />
                                                                    <button class="btn btn-primary" type="submit">Выдать</button>
                                                                </td>
                                                            }

                                                        </tr>
                                                    }

                                                }

                                            </tbody>
                                        </table>

                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Лекарство</th>
                                                    <th>Рекомендации</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var i in ViewBag.Drugs)
                                                {
                                                    using (Html.BeginForm("AddDrugPatient", "Treatment", FormMethod.Post))
                                                    {

                                                        @*<tr class="diagnosisTableEl" name="@i.DrugsName " id="myImg" src="@Url.Content(i.Path)">*@
                                                        <tr class="diagnosisTableEl" name="@i.DrugsName " id="myImg">
                                                            <td>
                                                                @i.DrugsName
                                                                <input type="hidden" name="drugsId" value="@i.IdDrugs" />
                                                                <input type="hidden" name="ComplaintIdComplaint" value="@item.IdComplaint" />
                                                                <input type="hidden" name="DoctorIdDoctor" value="@User.Identity.GetUserId()" />
                                                            </td>
                                                            <td>
                                                                <textarea name="Recomendations" rows="4" cols="25"></textarea>
                                                            </td>
                                                            <td><button class="btn btn-primary" type="submit">Выбрать</button></td>
                                                        </tr>
                                                    }
                                                }

                                            </tbody>
                                        </table>

                                    </div>

                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ProcedureModal_@item.IdComplaint">
                            Просмотр
                        </button>

                        <!-- The Modal -->
                        <div class="modal fade" id="ProcedureModal_@item.IdComplaint">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">

                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <h4 class="modal-title">Modal Heading</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>

                                    <!-- Modal body -->
                                    <div class="modal-body" style="min-height:400px;">
                                        <img class="rightImg" src="~/Images/doctor1.png" style="float:left;" height="350" width="200" />
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Процедура</th>
                                                    <th>Выполнение</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var i in item.ProcedurePrescriptions)
                                                {
                                                    using (Html.BeginForm("CompleteProcedurePrescription", "Treatment", FormMethod.Post))
                                                    {
                                                        <tr>
                                                            <td>@i.procedure.ProcedureName</td>
                                                            @if (i.Complited != null)
                                                            {
                                                                <td>@i.Complited</td>
                                                            }
                                                            else
                                                            {

                                                                <td>
                                                                    <input type="hidden" name="procedureId" value="@i.procedure.IdProcedure" />
                                                                    <input type="hidden" name="idComplaint" value="@item.IdComplaint" />

                                                                    <button class="btn btn-primary" type="submit">Выполнить</button>
                                                                </td>
                                                            }

                                                        </tr>
                                                    }

                                                }

                                            </tbody>
                                        </table>


                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Процедура</th>
                                                    <th>Рекомендации</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var i in ViewBag.Procedures)
                                                {
                                                    using (Html.BeginForm("AddProcedurePatient", "Treatment", FormMethod.Post))
                                                    {

                                                        <tr class="diagnosisTableEl" name="@i.ProcedureName ">
                                                            <td>
                                                                @i.ProcedureName
                                                                <input type="hidden" name="procedureId" value="@i.IdProcedure " />
                                                                <input type="hidden" name="ComplaintIdComplaint" value="@item.IdComplaint" />
                                                                <input type="hidden" name="DoctorIdDoctor" value="@User.Identity.GetUserId()" />
                                                            </td>
                                                            <td>
                                                                <textarea name="Recomendations" rows="4" cols="25"></textarea>
                                                            </td>
                                                            <td><button class="btn btn-primary" type="submit">Выбрать</button></td>
                                                        </tr>
                                                    }
                                                }

                                            </tbody>
                                        </table>

                                    </div>

                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>

                                </div>
                            </div>
                        </div>



                    </td>

                    <td>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#OperationModal_@item.IdComplaint">
                            Просмотр
                        </button>

                        <!-- The Modal -->
                        <div class="modal fade" id="OperationModal_@item.IdComplaint">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">

                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <h4 class="modal-title">Modal Heading</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>

                                    <!-- Modal body -->
                                    <div class="modal-body" style="min-height:400px;">
                                        <img class="rightImg" src="~/Images/doctor4.png" style="float:left;" height="350" width="200" />
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Процедура</th>
                                                    <th>Выполнение</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var i in item.OperatonPrescriptions)
                                                {
                                                    using (Html.BeginForm("CompleteOperationPrescription", "Treatment", FormMethod.Post))
                                                    {
                                                        <tr>
                                                            <td>@i.operation.OperationName</td>
                                                            @if (i.Complited != null)
                                                            {
                                                                <td>@i.Complited</td>
                                                            }
                                                            else
                                                            {
                                                                <td>
                                                                    <input type="hidden" name="operationId" value="@i.operation.IdOperation" />
                                                                    <input type="hidden" name="idComplaint" value="@item.IdComplaint" />
                                                                    <button class="btn btn-primary" type="submit">Выполнить</button>
                                                                </td>
                                                            }

                                                        </tr>
                                                    }

                                                }

                                            </tbody>
                                        </table>

                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Операция</th>
                                                    <th>Рекомендации</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var i in ViewBag.Operations)
                                                {
                                                    using (Html.BeginForm("AddOperationPatient", "Treatment", FormMethod.Post))
                                                    {

                                                        <tr class="diagnosisTableEl" name="@i.OperationName">
                                                            <td>
                                                                @i.OperationName
                                                                <input type="hidden" name="operationId" value="@i.IdOperation " />
                                                                <input type="hidden" name="ComplaintIdComplaint" value="@item.IdComplaint" />
                                                                <input type="hidden" name="DoctorIdDoctor" value="@User.Identity.GetUserId()" />
                                                            </td>
                                                            <td>
                                                                <textarea name="Recomendations" rows="4" cols="25"></textarea>
                                                            </td>
                                                            <td><button class="btn btn-primary" type="submit">Выбрать</button></td>
                                                        </tr>
                                                    }
                                                }

                                            </tbody>
                                        </table>

                                    </div>

                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>

                                </div>
                            </div>
                        </div>


                    </td>
                    <td>
                        @using (Html.BeginForm("PatientCard", "Treatment", FormMethod.Get))
                        {
                            <input type="hidden" name="idPatient" value="@item.ClientProfile.IdClientProfile"/>
                            <button type="submit" class="btn btn-primary">Больничная карта</button>
                        }
                    </td>
                    <td>
                        @using (Html.BeginForm("PatientDischage", "Treatment", FormMethod.Post))
                        {
                            if (item.DrugsPrescriptions.Any(d => d.Complited == null) ||
                            item.ProcedurePrescriptions.Any(d => d.Complited == null) ||
                            item.OperatonPrescriptions.Any(d => d.Complited == null))
                            {
                                <button type="button" id="@item+'@item.IdComplaint'" value="false" class="btn btn-primary" onclick="CheckTreatment(this)">
                                    Выписать пациента
                                </button>
                            }
                            else
                            {

                                <input type="hidden" name="idComplaint" value="@item.IdComplaint" />
                                @*<button type="submit" id="@item+'@item.IdComplaint'" value="true" class="btn btn-primary">
                                        Выписать пациента
                                    </button>*@
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#DischargeModal_@item.IdComplaint">
                                    Выписать пациента
                                </button>
                            }



                            <!-- The Modal -->
                            <div class="modal fade" id="DischargeModal_@item.IdComplaint">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">

                                        <!-- Modal Header -->
                                        <div class="modal-header">
                                            <h4 class="modal-title">Выписка</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>

                                        <!-- Modal body -->
                                        <div class="modal-body" style="min-height:400px;">

                                            <img class="rightImg" src="~/Images/doctor4.png" style="float:left;" height="350" width="200" />
                                            <div style="margin:auto;">
                                                <img src="~/Images/NumbOne.png" style="height:60px" />Поствьте пациенту окончательный диагноз
                                                @Html.DropDownList("IdDiagnosis", ViewBag.Diagnosis as SelectList
                                                   , new { @class = "select-css", id = "drop" })
                                                <br />
                                                <img src="~/Images/NumberTwo.png" style="height:60px" />Оставьте рекомендации
                                                <p>
                                                    <textarea name="recomendations" rows="4" cols="25"></textarea>
                                                </p>
                                                <br />
                                              
                                                <button class="ctn ctn-primary" type="submit">Выписать</button>
                                                <input type="hidden" name="idDiagnosis" id="IdDiagnosis" value="" />

                                            </div>

                                        </div>

                                        <!-- Modal footer -->
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        }

                    </td>
                </tr>


            }
        </tbody>
    </table>


</div>



<!-- The Modal -->
<div id="myModal" class="modal">
    <span class="close">&times;</span>
    <img class="modal-content" id="img01">
    <div id="caption"></div>
</div>


@if (ViewBag.SuccessDischarge == true)
{
    <script>
        Swal.fire({
            position: 'top-end',
            type: 'success',
            title: 'Пациент успешно выписан',
            showConfirmButton: false,
            timer: 1500
        })
    </script>
}
<script>

    function CheckTreatment(obj) {

        if (obj.value == "false") {
            Swal.fire({
                type: 'error',
                title: 'Oops...',
                html: "<p class='SwText'>Похоже что пациент не может быть выписан<p>Выполните все назначения</p></p>",

            });
        }
        else if (obj.value == "true") {
            Swal.fire('OK');
        }


    }

    function diagModalOpen() {
        //var diagnosis = $('.diagnosisTableEl');
        //alert(diagnosis);
        //for (var i in diagnosis) {
        //    if (i.name.substr(0,1) != 'A') {
        //        i.style.display = 'none';
        //    }
        //}

    }

    var Select = document.getElementById("drop");

    function changeOption() {


        var selectedOption = Select.options[Select.selectedIndex];
        //$('#specField').css('display', 'inline-block');
        //$('#dropText').text(selectedOption.text);
        $('#IdDiagnosis').attr('value', selectedOption.value);

    }

    Select.addEventListener("change", changeOption);


    ////////////////////////////////////////////////////////////////////////////////////
    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var img = document.getElementById("myImg");
    var modalImg = document.getElementById("img01");
    var captionText = document.getElementById("caption");
    img.onclick = function () {
        modal.style.display = "block";
        modalImg.src = this.src;
        captionText.innerHTML = this.alt;
    }

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }
</script>